.text-section {
  font-family: 'Roboto';
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  &__heading {
    text-align: center;
    font-size: 1.75rem;
  }
  &__description {
    font-size: 1.25rem;
    width: 90%;
  }
  &__input {
    font-family: 'Roboto mono';
    width: 100%;
    border: 2px solid black;
    height: 8rem;
    resize: none;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
  }
}

.morse-section {
  font-family: 'Roboto';
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  &__heading {
    text-align: center;
    font-size: 1.75rem;
  }
  &__description {
    font-size: 1.25rem;
    width: 90%;
  }
  &__input {
    font-family: 'Roboto mono';
    width: 100%;
    border: 2px solid black;
    height: 8rem;
    resize: none;
    font-size: 2rem;
    border-radius: 1rem;
    padding: 0.5rem;
  }
}
